body{margin: 0;font-size: 13px;color: #333;}li{list-style: none;}h1,h2,h3,h4,ul,p,li,img{margin: 0;padding: 0;}

	.con{
		position: absolute;
		top: 0;right: 0;bottom: 0;left: 0;
	}
	.header{
		height: 2.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.fanhui{display: flex;align-items: center;}
	.fanhui span{color: #ec7e2d;}
	.fanhui img{width: 0.8rem;height: 0.7rem;margin-left: 0.5rem;}
	.title{margin-left: -2rem;}




	.center{
		position: absolute;
		left: 0;right: 0;top: 2.5rem;bottom: 2.5rem;
		overflow-x: hidden;
		overflow-y: auto;

	}
	.logo{width: 18.75rem;height: 5.76rem;display: flex;justify-content: center;align-items: center;}
	.logo img{width: 5.5rem;height: 3.5rem;}
	
	
	
	.register_con{
		display: flex;
		justify-content: center;
	}
	.register_window{
		width: 15.5rem;
		height: 21.0rem;
		background-color: #fff;
	}
	
	.register_window li h3{
		align-self: center;
		color: #666;
	}
	
	.register_window li{
		display: flex;
		flex-direction: column;
		position: relative;
		font-size: 16px;
	}
	.register_window input{
		height: 1.25rem;
		padding: 5px 10px;
		text-indent: 36px;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
		outline:none;
	}
	#body .agreement input{text-indent: 0;}
	form label{
		position: absolute; top: 16%;
	}
	#file{padding: 0;}
	#body .reg_sub input{
		height: 40px;
		background-color: #ec7e2d;
		color: #fff;
		border-radius: 0.3rem;
		text-indent: 0;
		
	}
	.register_window li span{
		visibility: hidden;
		font-size: 12px;
		color: red;
	}
	.agreement img{
		width: 5.0rem;
		height: 5.0rem;
	}
	



	#body .points_active{background-color:rgba(0,0,255,0.3);}
	
	.footer{
		width: 18.75rem;
		height: 2.5rem;
		position: absolute;
		left: 0;right: 0;bottom: 0;
		border-top:1px solid #dbdbdb;
		background-color: #fff;
		display: flex;
		flex-flow: center center;
	}
	.footer ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex:1 1;
	}
	.index img,.paiming img,.canxuan img,.guize img{
		width: 1.2rem;
		height: 1.2rem;
	}
	/*弹窗*/
	.pop_window{
		position: absolute;
		top: 0;right: 0;bottom: 0;left: 0;
		z-index: 8889;
		display: none;
	}
	.pop_window div{
		width: 6.6rem;
		height: 6.6rem;
		margin:15rem auto 0;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0,0,0,0.5);
		border-radius: 0.3rem;
	}
	
	.pw1_con{
		display: none;
		position: absolute;
		z-index: 4888;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.3);
	}
	.pop_window1{
		width: 17.75rem;
		height: 20rem;
		padding: 0 0.5rem;
		position: absolute;
		z-index: 5000;
		background-color: #fff;
		position: absolute;
		top: 33.4rem;
		
	}
	.pop_window1 input{
		background-color: #fff;
		border: 0;
		outline:none;
	}
	.pop_window1 .btn_con{
		padding: 0.3rem 0;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #ddd;
	}
	.pop_window1 .btn_con input:nth-child(1){
		color: #333;
	}
	.pop_window1 .btn_con input:nth-child(2){
		color: #ec7e2d;
	}
	.pop_window1 hr{
		margin-top: 1.5rem;
		border:1px solid #ddd;
	}
	.pop_window1 .address_content{
		margin-left: 1.5rem;
		display: flex;
	}
	.pop_window1 .address_content select{
		width: 4.4rem;
		margin:0;
		padding: 0;
		border: 0;
		outline:none;
		flex: 1 1;
		appearance:none;  
 	 	-moz-appearance:none;  
	    -webkit-appearance:none;  
	}

