<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <title>全部订单</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <link rel="stylesheet" type="text/css" href="./css/order_refund.css">
</head>
<body>
    <div class="member_con" id="app">
      <div class="header">
        <span class="member_fanhui" @click="goback()">返回</span>退款售后
      </div>

      <div class="page-con">
          <div class="order_list">
              <ul v-if="orderList&&orderList.length>0">
                  <li v-for="(order,index) in orderList" :key="order.ordersId">
                      <div class="order_list_top">{{order.createDate}}<span v-if="order.userStatus === 'REFUSE_RECEIVE'">已拒收</span>
                        <span v-else-if="order.userStatus === 'REFUNDED'">退款成功</span>
                      </div>
                      <div class="order_goods clearfix" v-for="product in order.shoppingCarList" :key="product.goodsSkuId" @click="toView(order.ordersId)">
                          <img :src="product.goodsSkuImage">
                          <div class="order_h3">{{product.goodsName}}</div>
                          <div class="order_price">
                              <ul>
                                  <li>最低价：{{product.minPrice}}元<span>{{product.minSupermarket}}</span></li>
                                  <li>最高价：{{product.maxPrice}}元<span>{{product.maxSupermarket}}</span></li>
                              </ul>
                          </div>
                          <div class="order_spread">价差率：{{product.spreadRate}}%</div>
                          <div class="order_num">数量：×{{product.quantity}}</div>
                          <div class="ord_total">合计：￥{{product.heJiPrice}}</div>
                      </div>
                      <div class="ord_all">总计：￥{{order.totalPrice}}</div>                                                         
                  </li>
              </ul>
              <div v-if="orderList&&orderList.length==0"></div>
          </div>
      </div>
    </div>
  <script type="text/javascript" src="../js/vue.js"></script>
  <script type="text/javascript" src="../js/axios.min.js"></script>
  <script src="../js/fetch.js"></script>
  <script type="text/javascript" src="../js/check.js"></script>
  <script type="text/javascript" src="./js/order_refund.js"></script>
  
</body>
</html>