
.account_cont {
	background: #f5f5f5;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}
.accont_header {
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 0.9rem;
	color: rgba(51, 51, 51, 1);
	text-align: center;
	border-bottom: rgba(217, 217, 217, 1) 0.025rem solid;
	position: relative;
	background: #fff;
}
.member_fanhui {
	background: url(../../image/member_fanhui.png) no-repeat 0.6rem 0.6rem;
	background-size: 0.55rem 1rem;
	display: block;
	position: absolute;
	padding-left: 1.6rem;
	color: rgba(236, 126, 45, 1);
}
.password1{
	height: 2.5rem;
	width:auto ;
	background: #FFFFFF;
	margin-top: .4rem;
	border-bottom: 1px solid #D9D9D9;
	line-height: 2.5rem;
	font-size: .8rem;
	color:  #363636;
	padding-left: .75rem;
}
.password1 span input{
	font-size: .8rem;
	color: #333;
	padding-left: .5rem;
}
.password2{
	height: 2.5rem;
	width:auto ;
	background: #FFFFFF;
border-bottom: 1px solid #D9D9D9;
	line-height: 2.5rem;
	font-size: .8rem;
	color: #363636;
	padding-left: .75rem;
	font-weight: normal;
}
.password2 span{
	font-size: .8rem;
	color: rgb(145,145,145);
	padding-left: .5rem;
}
.password{
	position: relative;
}
.password >span{
	font-size: .7rem;
	color: rgb(154,154,154);
	position: absolute;
	top: 8rem;
	left: 1rem;
}
.password >button{
	height: 2.1rem;
	width: 16.95rem;
	border-radius: 6px;
	border: 1px solid rgb(236,126,45);
	background: rgb(236,126,45);
	font-size: .8rem;
	color: #FFFFFF;
	position: absolute;
	top: 10.5rem;
	left: 1rem;
}
